@model IEnumerable<Security.Models.Answer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.QuestionID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnswerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnswerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnswerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
